.details {
  display: grid;
  grid-template-rows: 310px 1fr;
  gap: 10px;

  width: 100%;

  &__image {
    object-fit: contain;
    width: 100%;
  }

  &__title {
    text-align: center;
  }


}

.content {
  display: grid;
  grid-template-rows: auto;
  gap: 10px;
}
